body { background: #ff404a; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 34px; display: flex; }
.block-cluster-0 { color: #7aa77a; font-size: 18px; margin-bottom: 5px; }
.block-helper-1 { color: #1e92b6; font-size: 12px; margin-bottom: 5px; }
.block-invoice-2 { color: #1909b6; font-size: 18px; margin-bottom: 5px; }
.block-notify-3 { color: #2f0646; font-size: 13px; margin-bottom: 5px; }
.block-helper-4 { color: #1d7030; font-size: 12px; margin-bottom: 5px; }